html {
    height: 100%;
    font-family: Calibri, sans-serif;
}
body {
    height: 100%;
    margin: 0;
    display: flex;
}
body > * {
    flex-basis: 0;
}
svg {
    display: block;
}

#zoomout {
    position: fixed;
    top: .2em;
    left: .2em;
}

#map {
    background-color: #ccc;
    flex-grow: 7;
}
#map svg {
    width: 100%;
    height: 100%;
}
#map #zoom-rect {
    fill: rgba(0, 0, 191, 0.2);
    border: 2px solid rgba(0, 0, 128, 0.2);
}

#histogram {
    background-color: #666;
    flex-grow: 1;
    padding: 1em;
}
#histogram svg {
    width: 100%;
    height: 100%;
    font-family: Verdana, sans-serif;
    font-size: 10px;
}
#histogram rect {
    fill: gainsboro;
}
#histogram text {
    fill: darkgray;
}

#sidebar {
    background-color: slategray;
    color: white;
    flex-grow: 2;
    overflow-y: auto;
}
#controls {
    padding: 1em 2em;
    background-color: #444;
}

#scale,
#color,
#zones,
#metric {
    text-align: center;
    margin: 1em 0;
    width: 100%;
}

#tooltip {
    padding: 1em;
    font-size: 1.2em;
}
#address {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.3em 0;
}
#pid {
    font-size: 1.1em;
    text-align: center;
}
#tooltip table {
    width: 100%;
    margin: 1em;
}
#details p {
    width: 50%;
    float: left;
}

.glyphicon-arrow-up {
    color: darkgreen;
}
.glyphicon-arrow-down {
    color: darkred;
}